// 3 recent upcoming events + featured event card
.upcoming-events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// 3 most recent news posts (card-style - no image)
.recent-news-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    &__card {
        max-width: 22rem;
        width: 100%;
        padding: 1.25rem;
        background-color: $foreground-blue;

        &:hover {
            h3 { text-decoration: underline 1px; }

            // animate bar width on hover
            .news-card--bar {
                right: 0;
                width: 100%;
                transition: 0.2s ease-out;
            }
        }
    }

    .news-card {
        position: relative;

        &--category {
            margin-top: 0;
            color: $secondary-text-color;
        }

        &--title {
            margin-top: 0;
            padding-bottom: 3.75rem;
        }

        &--date {
            position: absolute;
            bottom: 1.25rem;
        }

        &--bar {
            position: absolute;
            bottom: 0;
            right: 2rem;
            height: 8px;
            width: 8rem;
            background-color: $light-blue;
            transition: 0.25s ease-out;
        }
    }
}

// kash crew call to action
.kash-crew-block {}
