@import '../packages/swiper';

.swiper {
    position: relative;

    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .text-overlay {
        position: absolute;
        max-width: 48rem;
        top: 30%;
        left: 3.5rem;
        transform: translateY(-50%);

        .pre-title,
        .main-title,
        .sub-paragraph {
            font-family: $roboto;
            color: $white;
            text-shadow: 0 0 6px rgba($black, 0.8);
        }

        .pre-title,
        .sub-paragraph {
            font-weight: $regular;
        }

        .pre-title {
            font-size: 1.25rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .main-title {
            font-size: 4rem;
        }

        .sub-paragraph {
            font-size: 1.1rem;
        }
    }
}

.slider-navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 20rem;
    height: 100vh;
    background-color: rgba($background-blue, 0.85);

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: unset;
        border-radius: $circle;
        color: $primary-text-color;

        &:hover {
            background-color: $primary-text-color;

            &:after {
                transition: 0.2s ease-out;
                color: $background-blue;
            }
        }

        &:after {
            position: relative;
            transition: 0.2s ease-out;
            font-weight: 900;
        }
    }

    .swiper-button-next {
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 3rem;
        border: 5px solid $primary-text-color;
        &:after { left: 0.25rem; }
    }

    .swiper-button-prev {
        bottom: 10rem;
        left: 3rem;
        padding: 1rem 1.15rem;
        border: 3px solid $primary-text-color;

        &:after {
            left: -1px;
            font-size: 1.15rem;
        }
    }

    .swiper-pagination {
        display: block;
        position: absolute;
        max-width: 10rem;
        top: 1rem;
        left: unset;
        right: -1.5rem;
        font-size: 0;

        .swiper-pagination-total {
            display: none;
        }

        .swiper-pagination-current {
            font-family: $roboto;
            font-weight: $bold;
            font-size: 3.25rem;
            text-decoration: underline 4px $primary-text-color;
            text-underline-offset: 10px;
            color: $primary-text-color;
            &:before { content: '0'; }
        }
    }

    .swiper-play-button,
    .swiper-pause-button {
        position: relative;
        top: 2rem;
        left: 1.5rem;

        > span {
            font-size: 2.5rem;
            margin-left: 1.25rem;
        }
    }

    .btn-active {
        span {
            color: #1499f1;
        }
    }

    .autoplay-progress {
        position: absolute;
        top: 6rem;
        left: 3.25rem;
        font-size: 1.25rem;
        color: $primary-text-color;

        span {
            font-size: 1.25rem;
        }
    }
}
