* { box-sizing: border-box; }

html { font-size: 16px; }

body {
	text-rendering: geometricPrecision; // for the fluid-text() function
	line-height: 1.6;
	overflow-x: hidden;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
    background-color: $background-blue;
}

::placeholder {
    font-family: $poppins;
    font-size: 1rem;
    font-weight: $semibold;
    color: $secondary-text-color;
}

img {
	display: block; // preserve aspect ratio
	max-width: 100%;
	height: auto;
}

// global full width wrapper for main content
.main-post-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

// standard width content block - page-specific blocks will override this
.content-block {
    max-width: 77rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.title-wrap {
    display: inline-block;
    position: relative;
    max-width: 40rem;

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 2.75rem;
        right: 0;
        height: 30px;
        width: 12.5rem;
        background-color: #00648F;
    }
}

.title-separator {
    display: inline-block;
    position: relative;
    z-index: 5;
    margin-bottom: 3rem;
}

// full width, alternate background style
.alt-background {
    position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
    margin: 7rem -50vw 0;
    padding: 3rem 1rem;
    background-color: $foreground-blue;

    .alt-container {
        max-width: 75rem;
        margin: 0 auto;
    }
}

.first-block {
    margin: 0 -50vw 5rem;
}
