// Theme Colors
$white: #FFF;
$black: #000;
$light-blue: #1499F1;
$light-blue-alt: #008AC3;
$seafoam: #2D8BA8;
$gradient: linear-gradient(to right bottom, #2b4c7e, #2d5d97);

// Primary background/foreground colors
$background-blue: #0A192F;
$foreground-blue: #172A46;

// Text colors
$primary-text-color: #CCD6F6;
$secondary-text-color: #798AAF;

// Fonts
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

// Weights
$regular: 400;
$semibold: 600;
$bold: 700;

// Consistency utilities
$radius-small: 7px;
$radius-medium: 12px;
$radius-large: 20px;
$circle: 50%;
$transition: 0.2s ease-out;
