.primary-btn {
    display: inline-block;
    padding: 0.75rem 1.4rem;
    font-family: $roboto;
    font-size: 1.125rem; // 18px
    line-height: 1.4;

    span {
        position: relative;
        left: 0.25rem;
        transition: 0.2s ease-out;
    }

    &:hover {
        span { left: 0.65rem; }
    }

    // color specifiers
    &--dark-blue {
        background-color: $background-blue;
        color: $primary-text-color;

        span { color: $primary-text-color; }

        &:hover {
            background-color: $primary-text-color;
            color: $background-blue;

            span { color: $background-blue; }
            &.has-border { border-color: $primary-text-color; }
        }

        &.has-border { border: 2px solid $background-blue; }
    }

    &--white {
        background-color: transparent;
        color: $primary-text-color;

        &:hover {
            background-color: $primary-text-color;
            color: $background-blue;

            span { color: $background-blue; }
            &.has-border { border-color: $primary-text-color; }
        }

        span { color: $primary-text-color; }
        &.has-border { border: 2px solid $primary-text-color; }
    }

    &--solid-white {
        background-color: $primary-text-color;
        color: $background-blue;

        span { color: $background-blue; }

        &:hover {
            background-color: $background-blue;
            color: $primary-text-color;

            span { color: $primary-text-color; }
            &.has-border { border-color: $background-blue; }
        }

        &.has-border { border: 2px solid $primary-text-color; }
    }
}

.btn-small {
    padding: 0.4rem 0.875rem;
    font-size: 16px;
}

// plain text links
.slide-underline {
    position: relative;
    display: block;

    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $primary-text-color;
        transition: width 0.2s ease-out;
    }

    &:hover {
        &:after {
            width: 100%;
            transition: width 0.25s ease-out;
        }
    }
}

/** 
    * can be paired with .slide-underline for non-flex links
    * used for all paragraph blocks
*/
.inline-link {
    display: inline-block;
    font-weight: $semibold;
}
